<div>
  <h4>Products In Your Cart</h4>
  <div class="jumbotron" ng-if =!(cartproduct.length)>
    <h4>No Items in your cart</h4>
  </div>
  <div class="col-md-12" ng-if =(cartproduct.length)>
    <div style="float:right">
      <h5>Total:{{cart.total}} Rupees</h5>
      <button class="btn btn-success"
              ng-click="placeOrder()">Buy</buttons>
    </div>
</div>
  <div  class ="col-md-12"
        ng-repeat = "cartproduct in cartproduct"
        ng-click="buyproduct(product.product_id)"
        style="height:210px">
      <div class="col-md-3">
        <img  src ={{cartproduct.product.image_path}}
              alt="image not found"
              height="200px"
              width="200px"
              Style="float:left">
      </div>
      <div class="col-md-9 content-table">
        <table class="table">
          <tr>
            <th><b>Name</b></th><td>{{cartproduct.product.product_name}}</td>
          </tr>
          <tr>
            <th>Price</th><td>{{cartproduct.product.price}} rupees</td>
          </tr>
          <tr>
            <th>Quantity</th><td>{{cartproduct.quantity}}</td>
          </tr>
          <tr>
            <th colspan="2">
              <button ng-click="remove(cartproduct)"
                      style="width:100%"
                      class="btn btn-danger">Remove from cart
              </button>
            </th>
          </tr>
      </table>
      </div>
  </div>

</div>
