<h4>Your Orders</h4>
<div class="center-table">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Orderid</th>
          <th>Delivery Status</th>
          <th>Total Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat = "orderList in orderList">
        <td>{{orderList.order_id}}</td>
        <td><div ng-if=(orderList.delivery_status==1)>Packing Your Stuff</div>
            <div ng-if=(orderList.delivery_status==2)>Shipped</div>
            <div ng-if=(orderList.delivery_status==3)>Delivered</div>
            <div ng-if=(orderList.delivery_status==4)>Canceled</div>
        </td>
        <td>{{orderList.total_price}}</td>
        <td>{{orderList.date}}</td>
        <td ><button  ng-hide=(orderList.delivery_status==4)
                      ng-click="cancelOrder(orderList)">cancel
              </button></td>
      </tr>
    </tbody>
    </table>
</div>
