<div class="container home" style="border:1px solid snow">
  <div class="header-panel header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>Fresh Foods</h2>
      </div>
      <ul class="nav navbar-nav" style="float:right">
        <li><a ng-href="#!/home/allproduct">Home</a></li>
        <li><a ng-href="#!/home/profile">Profile</a></li>
        <li><a ng-href= "#!/home/order">Orders</a></li>
        <li><a ng-href= "#!/home/cart">Cart</a></li>
        <li><a ng-href= "#!/logout">logout</a></li>
      </ul>
    </div>
  </nav>
  </div>
<div>
  <form class="form">
    <center>
      <label for="update_money">
      <input  type="number"
              min="100"
              max="10000"
              value="2000"
              placeholder="enter the amount"
              ng-model="money"/>
      <button ng-click="updateMoney(money)">Add Money</button>
    </center>
  </form>
</div>
<footer>
      <div class="col-md-12"  style="background-color: black;">
        <hr>
      </div>
      <div class="col-md-12 footer">
        <div >
          <div class="col-md-4">
            <br><br>
               <p>124 Market Street,Chennai,Tamil Nadu,India</p>
          </div>
          <div class="col-md-4">
             <br><br>  <p><a href="mailto:freshsoods@gmail.com">freshsoods@gmail.com</a></p>
               <p>(044) 20489372 / 203403222</p>
          </div>
          <div class="col-md-4">
              <br><br><p>© 2017 Harish Studios | All Rights Reserved.</p>
          </div>
        </div>
      </div>
</footer>
