<div class="col-md-12" style="padding-top:10px;">
  <h4>Profile</h4>
  <button ng-click="addMoney()" class="btn btn-danger" style="float:right;">Add Money</button>
</div>
<br>
<div class="row center-table">

  <table class="table table-bordered table-striped">
  <tr>
    <th>Name</th><td>{{initCap(user.name)}}</td>
  </tr>
  <tr>
    <th>Phone Number</th><td>{{user.ph_no}}</td>
  </tr>
  <tr>
    <th>Delivery Address</th><td>{{initCap(user.delivery_address)}}</td>
  </tr>
  <tr>
    <th>FreshFood Wallet Amount</th><td>{{user.money_balance}}</td>
  </tr>
</table>
</div>
