<div ng-show=!(product.length)>oops! no products to display</div>
<div  class ="col-md-3 product"
      ng-repeat = "product in product"
      ng-click="buyproduct(product.product_id)"
      style="cursor:pointer">
  <div>
    <center>
      <img  src ={{product.image_path}}
            alt="image not found"
            height="100px"
            width="100px" ><br>
      <b>name:</b>{{product.product_name}}<br>
      <b>price:</b>{{product.price}} rupees<br>
    </center>
  </div>
</div>
